@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400..700&family=Poppins:wght@700&display=swap");
@import "breakpoints";

// Colors
$Pink: hsl(322, 100%, 66%);
$Light_Pink: hsl(321, 100%, 78%);
$Light_Red: hsl(0, 100%, 63%);
$Very_Dark_Cyan: hsl(192, 100%, 9%);
$Very_Pale_Blue: hsl(207, 100%, 98%);

// Fonts
$ff-OpenSans: "Open Sans", sans-serif;
$ff-Poppins: "Poppins", sans-serif;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $Very_Dark_Cyan;
  background-color: $Very_Pale_Blue;
  font-family: $ff-OpenSans;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 24px;

  @include breakpoint(sm) {
    max-width: 540px;
  }

  @include breakpoint(md) {
    max-width: 720px;
  }

  @include breakpoint(lg) {
    max-width: 960px;
  }

  @include breakpoint(xl) {
    max-width: 1140px;
  }

  @include breakpoint(xxl) {
    max-width: 1320px;
  }
}

.nav_wrapper {
  padding: 24px 0;
  .nav_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-image {
      height: 16px;
    }
    &-link {
      text-decoration: none;
      font-size: 0.7rem;
      color: $Pink;
      text-transform: capitalize;
      border: 1px solid $Pink;
      padding: 4px 14px;
      border-radius: 99999px;
    }
  }
}

main {
  // display: grid;
  // gap: 10px 0;
}

.hero_wrapper {
  padding: 90px 0;
  .hero {
    display: grid;
    gap: 20px 0px;
    justify-items: center;
    &-title {
      font-family: $ff-Poppins;
      text-align: center;
      line-height: 150%;
    }
    &-subtitle {
      font-family: $ff-OpenSans;
      font-weight: 400;
      font-size: 0.875rem;
      text-align: center;
      line-height: 155%;
      margin-bottom: 25px;
    }
    &-btn {
      text-decoration: none;
      text-transform: capitalize;
      font-family: $ff-Poppins;
      font-size: 12px;
      background: $Pink;
      color: $Very_Pale_Blue;
      border: 1px solid $Pink;
      padding: 10px 38px;
      border-radius: 9999px;
      margin-bottom: 80px;
    }
    &-image {
      img {
        height: 215px;
      }
    }
  }
}

.feature_wrapper {
  padding: 10px 0;
  .feature_cards-container {
    display: flex;
    flex-direction: column;
    gap: 55px;
    .feature_card {
      padding: 20px 84px;
      &-image {
        img {
          height: 26px;
        }
      }
      &-title {
        margin-top: -6px;
        font-weight: 700;
        font-size: 3.75rem;
        margin-bottom: 6px;
      }
      &-subtitle {
        font-size: 15px;
        text-align: center;
      }
    }
  }
  background: #000;
}
