@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$Mobile: 375px;
$Desktop: 1440px;

$fontFamily: "Outfit", sans-serif;
$fontSize: 15px;

$White: hsl(0, 0%, 100%);
$Light_gray: hsl(212, 45%, 89%);
$Grayish_blue: hsl(220, 15%, 55%);
$Dark_blue: hsl(218, 44%, 22%);
